<h1>Coordinates to weather calculation</h1>
<form action="/wizard_coords_to_weather">
  <label for="lat">Latitude</label>
  <input id="lat" type="text" name="lat" placeholder="Enter the latitude">

  <label for="lon">Longitude</label>
  <input id="lon" type="text" name="lon" placeholder="Enter the longitude">

  <button>Lookup Weather</button>

</form>
