<h1>New division</h1>
<form action="/wizard_divide">
  <label for="n1">Divide this:</label>
  <input id="n1" type="text" name="n1">
  <label for="n2">by this:</label>
  <input id="n2" type="text" name="n2">
  
  <button>Divide!</button>

</form>