<h1>New subtraction</h1>
<form action="/wizard_subtract">
  <label for="n1">Subtract this:</label>
  <input id="n1" type="text" name="n1">
  <label for="n2">from this:</label>
  <input id="n2" type="text" name="n2">
  
  <button>Subtract!</button>

</form>